@model CopiedditV2.ViewModels.UpdateVoteViewModel

<form asp-action="UpdateVotePlus">
    @Html.HiddenFor(m => m.PostId)
    <div class="form-group">
        <button type="submit">&#x25b4;</button>
    </div>
</form>