@model CopiedditV2.ViewModels.UpdateVoteViewModel

<form asp-action="UpdateVoteMinus">
    @Html.HiddenFor(m => m.PostId)
    <div class="form-group">
        <button type="submit" class="btn btn-secondary voteButton">&#x25BE;</button>
    </div>
</form>