@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Upload Image</dt>
        <dd>
            <form action="/Manage/UploadImage" enctype="multipart/form-data" method="post">
                <input type="file" name="files" />
                <button>upload image</button>
            </form>
        </dd>

        <dt>Show Image</dt>
        <dd>
            @if (Model.Image.Data != null)
            {
                <img src="/Manage/ViewImage/@Model.Image.Id" />
            }
        </dd>
    </dl>
</div>
